.section_director {
  font-family: 'Montserrat', sans-serif;
}

.text_block {
  margin: 80px 0 0 120px; /* Центрируем текстовый блок */
}

.slovo_block {
  display: flex;
}


.slogan {
  margin: 40px 0 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  max-width: 540px;
}

.fio_block {
  margin: 100px 0 0;
}

.fio {
  color: var(--text-dark);
  font-weight: 400;
  font-size: 16px;
}

.rospis_block{
  margin: 300px 0 0;
}

.rospis_img {

}

.gen_dir{
  font-weight: 300;
  font-size: 16px;
  color: var(--disable-gray);
  margin: 16px 0 0;
}

.img_block  {
  max-width: 500px;
}

.row {
  display: flex;
}


