:root {
	--light-yellow: #e3c37a;
	--dark-yellow: #a4834e;
	--disable-gray: #b1b1b1;
	--white: #fff;
	--text-dark: #232228;
	--green: #4ea470;
	--red: #a44e4e;
	--bg-gray: #d9d9d9;
	--ng-light-gray: #f6f4f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
}

.home {
  background-image: url(/public/images/home-bg.jpg);
}

ul {
  padding: 0;
  margin: 0;
}

.title_black, .title_white {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
}

.title_white {
  color: white;
}

p {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

/* светло серый текст (рядом с ним черточки есть) */
.light_gray_text {
  font-size: 16px;
  color: var(--disable-gray);  
  font-weight: 300;
}

/* чёрточка рядом с текстом */
.line_element {
  width: 50px;
  height: 1px;
  background-color: var(--disable-gray);
  margin: 10px 10px 0 0;
}

.yellow_color {
  color: var(--dark-yellow);
}

.yellow_light_color {
  color: var(--light-yellow);
}

.h5_text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  font-family: 'Ysabeau', sans-serif;
}
